
<h2>任务列表</h2>

<!--
    <div>
      <select id="year" class="">
        {{#each years}}
        <option>{{this}}</option>
        {{/each}}
      </select>
      <select id="month" class="">
        {{#each months}}
        <option>{{this}}</option>
        {{/each}}
      </select>
      <a href=""></a>
    </div>
    -->
<div class="row">
  <div class="col-sm-6">
    <button type="button" class="btn btn-primary" data-toggle="button">增加</button>
  </div>
  <div class='col-sm-6'>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker2'>
        <input type='text' class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function () {
    $('#datetimepicker2').datetimepicker({
    locale: 'zh-cn',
    format: 'YYYY-MM-DD',
    calendarWeeks: true
    });
    });
  </script>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <th style="display:none;">ID</th>
      <th>工作类型</th>
      <th>工作任务</th>
      <th>工作内容</th>
      <th>达成情况</th>
      <th>用时</th>
      <th>操作</th>
    </tr>
    {{#each reviews}}
    <tr>
      <td style="display:none;">{{_id}}</td>
      <td>{{catalog}}</td>
      <td>{{task}}</td>
      <td>{{content}}</td>
      <td>{{progress}}</td>
      <td>{{cost}}</td>
      <td><a href="javascript:;" class="btn edit btn-info">修改</a>
        <a href="javascript:;" class="btn delete btn-info">删除</a></td>
    </tr>
    {{/each}}
  </table>
</div>

<script type="text/javascript">
  //增加
  $(".btn-primary").click(function(){
    if($("table tr").hasClass("add-tr") || $("table tr").hasClass("edit-tr")){
      alert("先完成操作！！！");
  }else{
  $("table tr:last").after(`<tr class="add-tr">
     <td style="display:none;"></td>
     <td><select class="form-control" id="catalog" name="catalog"><option>新技术研究</option><option>项目开发及维护</option><option>员工培训</option></select></td>
     <td><input type="text" id="task" name="task" value="" /></td>
     <td><textarea class="form-control" id="content" name="content" rows="3"></textarea></td>
     <td><select class="form-control" id="progress" name="progress"><option>进行中</option><option>完成</option></select></td>
     <td><input type="text" id="cost" name="cost" value="" /></td>
     <td><a href="javascript:;" class="btn save btn-info">保存</a> 
       <a href="javascript:;" class="btn off btn-info">取消</api/users> </td>
     </tr>`);
  }
  })

  //保存
  $(document).on("click",".save",function(){
  var _id = $("#_id").val();
  var catalog = $("#catalog").val();
  var task = $("#task").val();
  var content = $("#content").val();
  var progress = $("#progress").val();
  var cost = $("#cost").val();

  if (_id) {
  $.ajax({
    type: "PUT",
    url: "/reviews/" + _id,
    data: {catalog: catalog, task: task, content: content, progress: progress, cost: cost},
    dataType: "json",
    success: function(data){
      console.log(data);
    }
  });
}
else {
  $.ajax({
    type: "POST",
    url: "/reviews/",
    data: {catalog: catalog, task: task, content: content, progress: progress, cost: cost},
    dataType: "json",
    success: function(data){
      console.log(data);
    }
  });
}

  var n = `<td style="display:none;">${_id}</td>
  <td>${catalog}</td>
  <td>${task}</td>
  <td>${content}</td>
  <td>${progress}</td>
  <td>${cost}</td>
  <td>
  <a href="javascript:;" class="btn edit btn-info"><span class="icon-edit"></span>修改</a>
  <a href="javascript:;" class="btn delete btn-info"><span class="icon-delete"></span>删除</a>
  </td>`;

  $(this).parent().parent().removeClass("add-tr edit-tr");
  $(this).parent().parent().html(n);
  })

  var old_id = "";
  var old_catalog = "";
  var old_task = "";
  var old_content = "";
  var old_progress = "";
  var old_cost = "";

  //修改
  $(document).on("click",".edit",function() {
  if($("table tr").hasClass("add-tr") || $("table tr").hasClass("edit-tr")) {
  alert("先完成操作！！！");
  }else{
  var _id = old_id = $(this).parent().parent().find('td').eq(0).text();
  var catalog = old_catalog = $(this).parent().parent().find('td').eq(1).text();
  var task = old_task = $(this).parent().parent().find('td').eq(2).text();
  var content = old_content = $(this).parent().parent().find('td').eq(3).text();
  var progress = old_progress = $(this).parent().parent().find('td').eq(4).text();
  var cost = old_cost = $(this).parent().parent().find('td').eq(5).text();

  var n = `<td style="display:none"><input type="hidden" id="_id" name="_id" value="${_id}" /></td>
  <td><select class="form-control" id="catalog" name="catalog" value="${catalog}"><option>新技术研究</option><option>项目开发维护</option><option>员工培训</option></secect></td>
  <td><input type="text" id="task" name="task" value="${task}"/></td>
  <td><textarea class="form-control" rows="3" id="content" name="content">${content}</textarea></td>
  <td><select class="form-control" id="progress" name="progress" value="${progress} "><option>进行中</option><option>完成</option></td>
  <td><input type="text" id="cost" name="cost" value="${cost}" /></td>
  <td>
  <a href="javascript:" class="btn save btn-info">保存</a> 
  <a href="javascript:" class="btn off btn-info">取消</a>
  </td>`;

  $(this).parent().parent().addClass("edit-tr");
  $(this).parent().parent().html(n);
  }

  })

  $(document).on("click",".off",function(){
  if ($("table tr").hasClass("edit-tr")) {
  var n = `<td style="display:none">${old_id}</td>
  <td>${old_catalog}</td>
  <td>${old_task}</td>
  <td>${old_content}</td>
  <td>${old_progress}</td>
  <td>${old_cost}</td>
  <td>
  <a href="javascript:" class="btn edit btn-info"><span class="icon-edit"></span>修改</a> 
  <a href="javascript:" class="btn delete btn-info"><span class="icon-edit"></span>删除</a>
  </td>`;

  $(this).parent().parent().removeClass("edit-tr");
  $(this).parent().parent().html(n);
  }
  else {
    $(this).parent().parent().remove();
  }

  //  window.location.reload();
  })

$(document).on("click", ".delete", function() {
  var _id = $(this).parent().parent().find('td').eq(0).text();

  $.ajax({
    type: "DELETE",
    url: "/reviews/" + _id,
    data: {},
    success: function(data){
      console.log(data);
    }
  });

  $(this).parent().parent().remove();
})

</script>
